.home-link {
	position: absolute;
	top: 0;
	left: 5px;
	opacity: 0.5;
}
.home-link a {
	text-decoration: none;
}
.home-link .deck-title {
	color: #888;
	font-family: Arial, sans-serif;
	font-size: 13px;
	margin-left: 15px;
}

.reveal .controls {
	position: absolute;
}

.reveal {
	width: 100vw;
	-webkit-transition: width 500ms ease-out;
	-moz-transition: width 500ms ease-out;
	-o-transition: width 500ms ease-out;
	transition: width 500ms ease-out;

}

.reveal.reveal-wide {
	width: 60vw;
}

.editor-panel {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	width: 40vw;
	background-color: #333;
	-webkit-transition: width 500ms ease-out;
	-moz-transition: width 500ms ease-out;
	-o-transition: width 500ms ease-out;
	transition: width 500ms ease-out;
}

.editor-panel.hide {
	width: 0vw;
}

#editor {
	margin-top: 45px;
	height: calc(100% - 50px);
}

.fa {
	padding: 8px 8px;
	background-color: #555;
  color: #efefef;
	font-weight: bold;
	cursor: pointer;
}

.fa:hover, .fa:hover {
	color: #333;
	background-color: #71E9F4;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}

.edit-control {
	position: absolute;
	top: 0;
	right: 5px;
	opacity: 0.5;
}

.save-control {
	position: absolute;
	top: 0;
	right: 40px;
}

.theme-control {
	position: absolute;
	top: 0;
	right: 75px;	
}

.editor-panel.hide .save-control, 
.editor-panel.hide .theme-control
{
	display: none;
}

.theme-options {
	position: absolute;
	top: 0px;
	right: 105px;
	padding: 0;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
	z-index: 99;
	height: 32px;
	width: 500px;
	opacity: 1;
	color: #efefef;
	background-color: #555;
	overflow: hidden;
}

.theme-options.hide {
	width: 0;
	overflow: hidden;
	opacity: 0;
}

.theme-option {
	display: inline-block;
	float: left;
	padding: 8px;
	margin-left: 1px;
	font-size: 12px ;
	line-height: 17px;
	cursor: pointer;
	font-family: Arial, sans-serif;
}

.theme-option:hover, .theme-option.active-theme {
	background-color: #71E9F4;
	color: #333;
}

/*  home-wrap */
.home-overlay {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	background-color: whitesmoke;
	z-index: -1;
}

.home-wrap {
	width: 80vw;
	margin-left: 10vw;
	font-family: Arial, sans-serif;
}

.slidedeck-wrap {
	position: relative;
}

.preview-image {
	margin-right: 1vw;
}

.preview-image iframe {
	width: 38vw;
	height: 30vw;
}

.slidedeck-link {
	display: block;
	position: absolute;
	top: 0;
	height: 22px;
	padding-top: 10px;
	background-color: black;
	width: 38vw;
	text-align: center;
	text-decoration: none;
	color: #eee;
	-webkit-transition: background-color 500ms ease-out;
	-moz-transition: background-color 500ms ease-out;
	-o-transition: background-color 500ms ease-out;
	transition: background-color 500ms ease-out;
}

.slidedeck-link:hover {
	background-color: skyblue;
	color: black;
}
