.reveal .controls {
	position: absolute;
}

.reveal {
	width: 100vw;
	-webkit-transition: width 500ms ease-out;
	-moz-transition: width 500ms ease-out;
	-o-transition: width 500ms ease-out;
	transition: width 500ms ease-out;

}

.reveal.reveal-wide {
	width: 60vw;
}

.editor-panel {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	width: 40vw;
	background-color: #333;
	-webkit-transition: width 500ms ease-out;
	-moz-transition: width 500ms ease-out;
	-o-transition: width 500ms ease-out;
	transition: width 500ms ease-out;
}

.editor-panel.hide {
	width: 0vw;
}

#editor {
	margin-top: 45px;
	height: calc(100% - 50px);
}

.fa {
	padding: 8px 8px;
	background-color: #555;
  color: #efefef;
	font-weight: bold;
	cursor: pointer;
}

.fa:hover, .fa:hover {
	color: #333;
	background-color: #71E9F4;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}

.edit-control {
	position: absolute;
	top: 0;
	right: 5px;
}

.save-control {
	position: absolute;
	top: 0;
	right: 40px;
}

.theme-control {
	position: absolute;
	top: 0;
	right: 75px;	
}

.editor-panel.hide .save-control, 
.editor-panel.hide .theme-control
{
	display: none;
}

.theme-options {
	position: absolute;
	top: 0px;
	right: 105px;
	padding: 0;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
	z-index: 99;
	height: 32px;
	width: 500px;
	opacity: 1;
	color: #efefef;
	background-color: #555;
	overflow: hidden;
}

.theme-options.hide {
	//height: 0;
	width: 0;
	overflow: hidden;
	opacity: 0;
}

.theme-option {
	display: inline-block;
	padding: 8px;
	font-size: 12px ;
	line-height: 17px;
	cursor: pointer;
	font-family: Arial, sans-serif;
}

.theme-option:hover {
	background-color: #71E9F4;
	color: #333;
}
